doctype html
html(lang="en")
  head
    title Price Guide | The Flour Boutique
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="The Flour Boutique is a bakery from Lynette McAnsh based in Utica, Michigan. Cookies range from various shapes and sizes as well as from basic to elaborate.")
    //- link(rel="amphtml" href="https://theflourboutique.com/amp")
    meta(name="contact" content="theflourboutiquecookies@gmail.com")
    meta(name="keywords", content="")
    meta(name="author", content="Logan McAnsh")
    link(rel="mask-icon", href="/img/website-icon.svg", color="#feeeed")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300")
    link(rel="stylesheet", href="/css/coming-soon.css")
    link(rel="apple-touch-icon" href="/img/apple-touch-icon.png")
    link(rel="shortcut icon" href="/img/favicon.png")
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]-->
  body
    a.back-to-home(href="../") Back to home
    .wrapper
      h1 The Flour Boutique Price Guide
      .price-wrapper
        mixin cookie(size, basic, detailed)
          .price
            .size= size
            .basic= basic
            .detailed= detailed
        .price
          .size Per Cookie
          .basic Basic <br> (1 Color)
          .detailed Detailed <br> (2-3 Colors)
        +cookie('1"', '$1.00', '$1.25')
        +cookie('2"', '$1.75', '$2.00')
        +cookie('3"', '$2.00', '$3.00')
        +cookie('4"', '$3.00', '$4.00')
        +cookie('5"', '$4.00', '$5.00')
        +cookie('6"', '$5.75', '$6.00')

      
      p Please note: these are approx.sizes, they may not be full size of box, price goes by which ever side is longest. (there is some exception to the price... example: if cookie is 5”x3” it would go by the 4” size. The majority of cookies fall into the detail range and most are at least 3” size. All cookies are sold in 1 dozen or more unless I am offering prepackaged sets. 2 week notice is a must.
        
        
    footer
      a(href="prices/") Price Guide
      p &copy; 2016 The Flour Boutique
      a(href="cottage-law/") Cottage Law
