{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "react-intl",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.dev"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    }
  }
}
