{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.dev"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env"
          }
        ]
      ]
    }
  }
}
