extends layout

block content
  != h.icon('logo')
  <!--[if IE 8]><div class="logo"></div><![endif]-->
  h1 The Flour Boutique
  h2 ...where a little flour brings a bit of sunshine
  h3 Coming Soon...

  .btn-wrapper
    a.btn(href="https://facebook.com/theflourboutique" target="_blank") Check us out on Facebook!</a>
