extends layout

block back-to-home
  a.back-to-home(href="/") Back to home
block content
  h1 The Flour Boutique Price Guide

  .price-wrapper
    .price
      .size Per Cookie
      .basic Basic <br> (1 Color)
      .detailed Detailed <br> (2-5 Colors)
    .price
      .size 1"
      .basic $1.00
      .detailed $1.25
    .price
      .size 2"
      .basic $1.75
      .detailed $2.00
    .price
      .size 3"
      .basic $2.75
      .detailed $3.00
    .price
      .size 4"
      .basic $3.75
      .detailed $4.00
    .price
      .size 5"
      .basic $4.75
      .detailed $5.00
    .price
      .size 6"
      .basic $5.75
      .detailed $6.00

  p Please note: these are approximate sizes, they may not be the full size of the box, price goes by whichever side is the longest. There is some exception to the price: if a cookie 5”x3” it would go by the 4” size. The majority of cookies fall into the detail range and most are at least 3-4” in size. All cookies are sold in 1 dozen or unless I am offering a prepackaged set. If ordering a set of multiple cookies (different sizes), the cost of a dozen is $40.