mixin loginForm()
  form(method="POST" action="/login")
    label(for="email") Email:
    input#email(type="email" name="email" placeholder="Email")
    label(for="password") Password:
    input#password(type="password" name="password" placeholder="Password")
    input.btn(type="submit" value="Login →")
